<div align="right"> <input type="submit"  routerLink='/applogin' value="LogOut" class="btn btn-success">
</div>

<div align="center">
  <h1>ADDRESS MANAGEMENT SYSTEM</h1>
  <br>
<button class="btn btn-success" routerLink='/addaddress'>Add Address</button>&nbsp;
<button class="btn btn-success" routerLink='/listofaddress'>List All Address</button>&nbsp;
</div>

<router-outlet></router-outlet>

<div align="right"> <input type="submit"  routerLink='/home' value="back" class="btn btn-success">
</div>
