<div align="right"> <input type="submit"  routerLink='/applogin' value="LogOut" class="btn btn-success">
</div>

<div align="center">
  <h1>PRODUCT MANAGEMENT SYSTEM</h1>
  <br>
<button class="btn btn-success" routerLink='/addproduct'>Add Product</button>&nbsp;
<button class="btn btn-success" routerLink='/listproduct'>Display All Products</button>&nbsp;
<button class="btn btn-success" routerLink='/getproductbyid'>Get Product By Id</button>&nbsp;
<button class="btn btn-success" routerLink='/searchproductbyproductname'>Search Product By Product Name</button>&nbsp;
<button class="btn btn-success" routerLink='/searchproductbyproductcategory'>Search Product By Product Category</button>&nbsp;

</div>

<router-outlet></router-outlet>

<div align="right"> <input type="submit"  routerLink='/home' value="back" class="btn btn-success">
</div>
